
.peminjaman-section .row>div:hover .caption {
    color: #fff;
    background-color: #f5511e;
    transition: 1s;
}
.peminjaman-section img {
    width: 26%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}
.peminjaman-section .caption {
    color: #fff;
    background-color: #665d5e;
    padding: 10px;
    margin-bottom: 10px;
    display: block;
}
.box-peminjaman{
    margin-bottom: 31px;
}
.form-custom{
	width: 90%;
}